.container-b {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.items-b {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.b1 {
    text-align: center;
    width: 50%;
}

.item2-b {
    display: flex;
    justify-content: space-around;
}

.item2-b div {
    margin: 30px;
}

.single {
    width: 260px;
    height: 340px;
    background-size: cover;
    padding: 20px;
    overflow-y: hidden;
}

.single {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    position: relative;
}

.single img {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -10;
    top: 10px;
}

.single h1 {
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
}

.single p {
    font-size: 16px;
    font-weight: 200;
    text-transform: capitalize;
}

.single h3 {
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
}

.single button {
    background-color: #dd7433;
    font-weight: 300;
    padding: 5px 20px;
    text-align: center;
    border-radius: 18px;
    color: #fff;
    margin-left: 6px;
    margin-right: 6px;
    border: none;
    outline: none;
    font-size: 16px;
    text-transform: uppercase;
}