.container {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.container .items {
    width: 500px;
    height: 300px;
    padding: 20px;
}

.container .item1 {
    background-image: url('./../../assets/b1.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.item1 h2,
.item2 h2 {
    font-size: 40px;
    font-weight: 800;
    font-family: 'Comfortaa', sans-serif;
    text-transform: uppercase;
}

.item1 p,
.item2 p {
    font-size: 20px;
    font-family: 'Comfortaa', sans-serif;
    text-transform: capitalize;
    font-weight: 100;
    color: #dd7433;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.458);
}

.container .item2 {
    background-image: url('./../../assets/b2.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
}